/* 
 OpenPlans Default Theme
 One of many to come?

 */
body {
  color: #333;
  background-color: #333;
  padding: 0;
}
#oc-page-container {
  background-color: white;
  margin: 0 auto;
}
#oc-topnav {
  background: #777 url(/++resource++img/shadow.png) repeat-x bottom;
  color: white;
  width: 100%;
}
#oc-topnav a {
  color: white;
  text-decoration: none;
}
#oc-topnav a:hover {
}
#oc-content-container {
 background: #fff;
 max-width: 70em; /* As a rule, measure should be between two and three alphabets long. In other words, between 52 and 78 characters, including spaces. Since characters average out to about one-half EM in width this translates to a minimum width of 26em and a maximum of 39em, or two to three alphabets.   IN OTHER WORDS: avoid changing the width. */
 min-width: 52em;
 margin: 0 auto;
}
#oc-footer {
  background: #777 url(/++resource++img/shadow.png) repeat-x bottom;
  color: #ccc;
}
#oc-footer a {
  color: #eee;
  text-decoration: none;
}
#oc-footer a:hover {
  color: #555;
}   
.oc-missingText {
  color: gray;
}
/* @HTML ELEMENTS GENERAL @TYPOGRAPHY
This should be the only place where font information is specified
-------------------------------------------- */

body, textarea {
  font-size: 12px; /* ~12px */
  line-height: 1.5em; /* 18px % 12px = 1.5em */
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  /* These typographic rules will establish rhythm of 18px at base font size */
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.oc-legend-heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
h1 acronym, h1 abbr, h2 acronym, h2 abbr, h3 acronym, h3 abbr, h4 acronym, h4 abbr {
  border: none;
}
h1, .oc-biggestText {
  letter-spacing: -0.0325em;
}
h2, .oc-biggerText, #oc-topnav-title h1,
#oc-content-sidebar h1 {
  letter-spacing: -0.0325em;
}
h3, .oc-bigText,
#oc-content-sidebar h2 {
}
#oc-content-sidebar h3 {
}
h4, .h4 {
}
#oc-content-sidebar h4 {
} 
.oc-smallText,
.oc-discreetText,
  /* Layout and Navigation */
    .oc-documentByLine,
    #oc-topnav .oc-dropdown,
    #oc-topnav-openplans-search,
    #oc-footer,
      #oc-content-title-pagetitle,
  
  /*Feeds and Forms */
    .oc-field input,
    .oc-formHelp,
    .oc-feed_data,
    .oc-feed_desc,
    ul.oc-contentViews,
    ul.oc-oc-tabs,
  
  /* Error Messages */
    .oc-portalMessage,
    .oc-portalWarningMessage,
    .oc-portalStopMessage,
    .oc-system-message,
    #oc-error-handling
  
  {
}
.oc-documentFirstHeading,
.oc-simpleHeading { 
}
.oc-simpleHeading a {
}
.oc-simpleHeading a:hover { 
}
a {
  color: #74AC07;
}  
a:hover {
  color: #EB852B;
}
a:visited {
  color: #568005;
}