/* 
 OpenPlans Default Theme
 One of many to come?

 */
body {
  color: #333;
  background: #DEEAF2;
  padding: 0;
}
#oc-page-container {
 max-width: 78em; /* As a rule, measure should be between two and three alphabets long. In other words, between 52 and 78 characters, including spaces. Since characters average out to about one-half EM in width this translates to a minimum width of 26em and a maximum of 39em, or two to three alphabets.   IN OTHER WORDS: avoid changing the width. */
 min-width: 52em;
 margin: 0 auto;
}
#oc-topnav {
  width: 100%;
  padding: 0;
  color: #fff;
  background: #AAC683;
  border-top: 0.75em solid #2B7284 ;
  border-bottom: 1px solid #2B7284 ;
}
#oc-topnav h1 {
	margin-left: 0.5em;
}
#oc-topnav a {
  text-decoration: none;
  color: #fff;
}
#oc-topnav a:hover {
}
#oc-topnav-usermenu {
  top: 0;
  right: 1em;
  width: 31%;
  background: #2B7284 ;
  padding: 0.25em 0.5em;
}
#oc-topnav-usermenu input.oc-input-typeText {
  background-color: #fff;
  border: 1px solid #999;
  width: 60%;
}
#oc-topnav-usermenu ul {
  margin: 0.25em 0;
}
#oc-topnav-usermenu ul li {
  padding: 0.125em 0.25em;
  font-weight: bold;
}
#oc-content-container {
 padding: 1em;
 background-color: #fff;
}
#oc-content-main {
}
#oc-footer {
  color: #666;
  background: transparent;
  border-top: 1px solid #F0F3F6;
  margin: 0 0 2em;
  padding-left: 0;
  padding-right: 0;
}
#oc-footer a {
  color: #999;
  text-decoration: none;
}
#oc-footer a:hover {
  color: #555;
}   
.oc-missingText {
  color: gray;
}

/* @HTML ELEMENTS GENERAL @TYPOGRAPHY
This should be the only place where font information is specified
-------------------------------------------- */

body, textarea {
  font-size: 12px; /* ~12px */
  line-height: 1.5em; /* 18px % 12px = 1.5em */
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  /* These typographic rules will establish rhythm of 18px at base font size */
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.oc-legend-heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 acronym, h1 abbr, h2 acronym, h2 abbr, h3 acronym, h3 abbr, h4 acronym, h4 abbr {
  border: none;
}
h1, .oc-biggestText {
  letter-spacing: -0.0325em;
}
h2, .oc-biggerText, #oc-topnav-title h1,
#oc-content-sidebar h1 {
  letter-spacing: -0.0325em;
}
h3, .oc-bigText,
#oc-content-sidebar h2 {
}
#oc-content-sidebar h3 {
}
h4, .h4 {
}
#oc-content-sidebar h4 {
} 
.oc-smallText,
.oc-discreetText,
  /* Layout and Navigation */
    .oc-documentByLine,
    #oc-topnav .oc-dropdown,
    #oc-topnav-openplans-search,
    #oc-footer,
      #oc-content-title-pagetitle,
  
  /*Feeds and Forms */
    .oc-field input,
    .oc-formHelp,
    .oc-feed_data,
    .oc-feed_desc,
    ul.oc-contentViews,
    ul.oc-oc-tabs,
  
  /* Error Messages */
    .oc-portalMessage,
    .oc-portalWarningMessage,
    .oc-portalStopMessage,
    .oc-system-message,
    #oc-error-handling
  
  {
}
.oc-documentFirstHeading,
.oc-simpleHeading { 
}
.oc-simpleHeading a {
}
.oc-simpleHeading a:hover { 
}
a {
  color: #2B7284 ;
}
a:visited {
  color: #2B7284 ;
}
a:hover {
  color: #DE7C07;
}

/* @BOXES THAT NEED STYLE
-------------------------------------------- */

.oc-widget-search,
#oc-content-sidebar .oc-widget-search,
#oc-content-sidebar .oc-widget-search.oc-boxy {
  border: 1px solid #94BA65;
  padding: 1em;
}
.oc-widget-alphabet {
  border-top: 1px dotted #AAC683;
  padding-left: 0;
  padding-top: 0.5em;
}
.oc-widget-feed li.oc-feed-item {
  border-top: 1px dotted #AAC683;
  padding: 0.5em 0;
}
.oc-widget-feed{
  border-bottom: 1px dotted #AAC683;
}
#oc-content-sidebar .oc-boxy {
  border: 1px solid #AAC683;
  background-color: #FBFFF7;
  padding: 1em;
}
#oc-content-sidebar .oc-getstarted {
}
