.smallText,
	
	/* Layout and Navigation */
		#topnav .op-dropdown,
		#topnav-openplans-search
	
	{
	font-size: 0.8333em; /* 10px ÷ 12px = 0.8333em */
	line-height: 1.8em /* 18px ÷ 10px = .9em */
}

/* THEMING for header
-------------------------------------------- */

#topnav {
	background-color: #AAC683;
}
	
	#topnav a {
		color: white;
		text-decoration: none;
	}
	
		#topnav a:hover {
		}
		
	#topnav-global {
		background: #2B7284 url(http://www.openplans.org/opp_bar_bg.gif) repeat-x scroll center top;
		border-bottom: 2px solid white;
	}
	
		#topnav-openplans {
			background: transparent;
		}
		
			#topnav-openplans-search #LSResult {
				background-color: #2B7284;
			}
			
		#topnav-context h1 {
			text-transform: none;
            color: white;
		}
			
	/* Drop-down menu styles for the HEADER (see far below for structure) */
	
	#topnav ul.op-dropdown, .op-dropdown ul {
		line-height: normal;
        color: white;
	}
	
		#topnav  .op-dropdown li {
		}

	
			#topnav .op-dropdown li ul {
				border-top: 1px solid #A5CC7A;
				background-color: #CCDEAF;
			}
		
				#topnav .op-dropdown li ul li {
				}
					#topnav .op-dropdown li ul li.op-dropdown-divider {
						border-top: 1px dotted #A5CC7A;
					}
				
				#topnav .op-dropdown li ul li a {
				
				}
				
				#topnav .op-dropdown li ul li a:hover {
					color: #325B0A;
				}
	
			#topnav .op-dropdown li:hover, .op-dropdown li:hover ul,
			#topnav .op-dropdown li.sfhover, .op-dropdown li.sfhover ul {
				background-color: #CCDEAF;
				color: #325B0A;
			}
	
			#topnav .op-dropdown li:hover ul,
			#topnav .op-dropdown li.sfhover ul {
			}
	
				#topnav .op-dropdown li:hover ul li:hover,
				#topnav .op-dropdown li.sfhover ul li.sfhover {
					background-color: #AAC683;
				}


/* STRUCTURE for header
-------------------------------------------- */

	#topnav {
		text-align: left;
		margin-bottom: 0.5em;
	}
	
		#topnav .op-dropdown{
		}
	
		#topnav-global {
			padding: 0.25em;
			padding-left: 1em;
			position: relative;
		}
			/* This is the site-wide header */
			
			/* CLEAR-AFTER HACK applied to #topnav-global
				see .clear-after below */
				
			#topnav-context {
				float: left;
				padding: 0;
				padding-bottom: 0.25em;
			}
			
				#topnav-context h1 {
					position: absolute;
					bottom: 0.5em;
					float: left;
					margin: 0;
					margin-right: 0.5em;
					padding: 0;
				}				
			
			#topnav-openplans {
				float: right;
				display: block;
				padding: 0.25em;
			}
			
				#topnav-openplans-title,
				#topnav-openplans-wrapper,
				#topnav-openplans-search {
					display: inline;
				}
				
					#topnav-openplans-title {
						float: left;
						margin: 0.125em 0;
						padding: 0;
						text-transform: none; 
					}
					
						#topnav-openplans-title img {
							margin: 0;
							padding: 0;
							vertical-align: middle;
						}
						
					#topnav-openplans-search {
						margin: 0.125em 0;
						padding: 0;
					}
					
						#portal-searchbox,
						#portal-searchbox form,
						div.LSBox {
							display: inline;
							vertical-align: middle;
							position: relative;
						}
							
							input#searchGadget {
								width: 5em;
								font-size: 100%;
								background: white url(searchglass.png) no-repeat 2px center;
								padding-left: 15px;
							}
							
							div.LSBox input.searchButton {
								display: none;
							}
							
							div#LSResult {
								z-index: 5;
								position: absolute;
								right: 0;
							}
							
								div#LSResult legend {
									display: none;
								}
									
								div#LSResult ul {
									list-style-type: none;
									padding: 0.5em;
									margin: 0;
								}
				
				#topnav-openplans-wrapper {
					margin: 0 0.5em;
				}
								
							.portalUser {}

		#topnav-subcontext {
			padding: 0 1em;
		}
			
			#topnav-subcontext-title, #topnav-subcontext-title h1 {
				margin: 0;
				padding: 0;
				line-height: normal;
			}

/* "Custom" CSS : Clear-After Hack, op-dropdown Dropdowns
-------------------------------------------- */

/* This hack replicates the CSS3 "clear-after" property.
The IE hacks take advantage of several IE non-compliance issues to clear-after the floated columns. */

.clear-after:after,
#topnav-global:after,
#content-container:after 
{ 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both;
	visibility: hidden;
}
		
	/* IE Hack \*/
	* html * .clear-after { height: 1%; }
		
	/* IE Hack \*/
	* html * #topnav-global { height: 1%; }

	/* IE Hack \*/
	* html * #content-main-container { height: 1%; }

.last-child {
	/* Use this class as a selector for last-children (not currently in use) */
}

/* This is based on the "Son of op-dropdown" drop down menus */

ul.op-dropdown, .op-dropdown ul {
float: left;
margin: 0;
padding: 0;
list-style: none;
z-index: 5;
}

	.op-dropdown li {
		float: left;
		display: block;
		margin: 0;
		padding: 0.75em;
	}

		.op-dropdown li ul {
			position: absolute;
			left: -999em;
		}
	
			.op-dropdown li ul li {
				float: none;
				width: 12em;
				padding: 0 0.75em;
			}
				.op-dropdown li ul li.op-dropdown-divider {
				}
			
			.op-dropdown li ul li a {
				display: block;
				width: 100%;
				padding: 0.75em 0;
			}
	
		.op-dropdown li:hover, .op-dropdown li:hover ul,
		.op-dropdown li.sfhover, .op-dropdown li.sfhover ul {
		}

		.op-dropdown li:hover ul,
		.op-dropdown li.sfhover ul {
			left: auto;
			margin: 0.75em 0 0 -0.75em;
		}

			.op-dropdown li:hover ul li:hover,
			.op-dropdown li.sfhover ul li.sfhover {
			}
