/* IE 6 hacks go here */

#oc-content-container {
  height: 420px;
}

#oc-content-sidebar {
  width: 32%;
}

legend { color: #000; padding: 0; margin: 0 -5px;}


.oc-statusMessage .oc-closeButton {
  width: 7px;
  top: 2px;
  right: 14px;
}

.oc-actions.oc-wiki-actions {
  padding-top: 1em;
}

h2.oc-dataTable-heading {
	/*margin-bottom: -18px; */
}

.oc-dropdown-list li.oc-dropdown-container li a {
  width: 100%;
}
