[info]
id = {{id}}
title = {{title}}
created_on = {{creation_date}}

[preferences]
security_policy = {{security_policy}}
homepage = {{homepage}}

[tools]
{{for featurelet in featurelets}}
{{featurelet}}
{{endfor}}

[description]
{{description}}
