[info]
id = {{id}}
title = {{title}}
created_on = {{created_on}}
modified_on = {{modified_on}}
creator = {{creator}}
location = {{location}}

[preferences]
security_policy = {{security_policy}}
homepage = {{homepage}}
tools = {{featurelets}}

{{if logo_filename}}

[logo]
filename = {{logo_filename}}
path = {{logo_zippath}}
created_on = {{logo_created_on}}
modified_on = {{logo_modified_on}}
creator = {{logo_creator}}
{{endif}}