[info]
id = {{id}}
mailto = {{mailto}}
title = {{title}}
created_on = {{creation_date}}
created_by = {{creator}}
context = {{context}}

[preferences]
list_type = {{type}}
archive_setting = {{archive_setting}}
sync_membership = {{sync_with_project}}
private_archives = {{private_archives}}

[managers]
{{for manager in managers}}
{{manager}}
{{endfor}}

[description]
{{description}}
