/* IE 6 hacks go here */

#oc-page-container { width: 70em; }	

.oc-clearAfter { height: 1%; }
		
#oc-topnav-global { height: 1%; }

#oc-content-main-container { height: 1%; }

legend { color: #000; padding: 0; margin: 0 -5px;}