/* 
Title: NUI for OpenCore
Date: April 2007
Author: Rolando Penate & Nick Grossman
Version: 1ish

@Contents: (@ symbol to make searching easy)
 - Global Layout
 - Header
 - Content
 - Footer
 - Layout for OpenPlans pages
 - OpenPlans Project Page
 - "Custom" CSS - little tricks & snazzy stuff
 - General Classes
 - HTML Elements & General Typography

*/

/* @Global Layout
-----------------------------------------*/
html {

}
body {
	margin: 0;
	padding: 0 8px;
	background: url(http://www.digg.com/img/page-back.gif) repeat-x;
	color: #333333;
}
#page-container {
	max-width: 70em; /* As a rule, measure should be between two and three alphabets long. In other words, between 52 and 78 characters, including spaces. Since characters average out to about one-half EM in width this translates to a minimum width of 26em and a maximum of 39em, or two to three alphabets. 	IN OTHER WORDS: avoid changing the width. */
	min-width: 52em;
	margin: 0 auto;
	padding: 0;
}
#topnav {
	text-align: left;
	margin-bottom: 0.5em;
}
#content-container {
 	margin: 2em 1em;
}
#project-tabs {

}
#project-content {

}
#footer {
	clear: both;
	margin: 3em 0 0 0;
	padding: .5em 1em;
}

/* @Header - Global, context & subcontext menus 
---------------------------------------*/

#topnav .oc-dropdown{
}

#topnav-global {
/*
	padding: 0.25em;
	padding-left: 1em;
*/
	position: relative;
}
		
#topnav-title {
	position: absolute;
	top: 55px;
	left: 10px;
	width: 100%;
}
	
#topnav-title h1 {
	position: absolute;
	bottom: 0.5em;
	float: left;
	margin: 0;
	margin-right: 0.5em;
	padding: 0;
}				
	
#topnav-openplans {
	float: right;
	display: block;
	padding: 0.25em;
}
	
/*#topnav-openplans-logo,*/
#topnav-openplans-wrapper,
#topnav-openplans-search {
	display: inline;
}
		
#topnav-openplans-logo {
	position: absolute;
	margin: 0;
	top: 2px;
	right: 4px;
}

#topnav-openplans-logo img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

#topnav-openplans-links {
	padding-top: 3px;
	padding-right: 3px;
}

#topnav-openplans-links li {
	margin: 0;
	padding-left: 0.75em;
	text-transform: none; 
	list-style-type: none;
	display: inline;
	font-size: 75%;
}
			
#topnav-openplans-search {
	margin: 0;
	padding: 0;
}
				
#portal-searchbox,
#portal-searchbox form,
div.LSBox {
	margin: 0.125em 0;
	float: left;
	clear: none;
	display: inline;
	position: relative;
}
					
input#searchGadget {
	width: 7em;
	font-size: 100%;
	background: white url(searchglass.png) no-repeat 2px center;
	padding-left: 15px;
}

div.LSBox input.searchButton {
	display: none;
}

div#LSResult {
	z-index: 5;
	position: absolute;
	right: 0;
}

div#LSResult legend {
	display: none;
}
	
div#LSResult ul {
	list-style-type: none;
	padding: 0.5em;
	margin: 0;
}
		
#topnav-openplans-wrapper {
	margin: 0 0.5em;
}
						
#topnav-subcontext {
	padding: 0 1em;
}
	
#topnav-subcontext-title, #topnav-subcontext-title h1 {
	margin: 0;
	padding: 0;
	line-height: normal;
}


/*Drop-down menu styles GLOBAL (see far below for structure)
---------------------------------------*/

ul.oc-dropdown, .oc-dropdown ul {
	cursor: pointer;
	font-weight: bold;
}

.oc-dropdown li {
	text-transform: lowercase;
}

.oc-dropdown li ul {
	border-top: 1px solid #999;
	font-weight: normal;

}
	
.oc-dropdown li ul li {
	width: 12em;
}
.oc-dropdown li ul li.oc-dropdown-divider {
	border-top: 1px dotted #999;
}
			
.oc-dropdown li ul li a {
}
	

.oc-dropdown li:hover, .oc-dropdown li:hover ul,
.oc-dropdown li.sfhover, .oc-dropdown li.sfhover ul {
	background-color: #666;
}

.oc-dropdown li:hover ul,
.oc-dropdown li.sfhover ul {
}

.oc-dropdown li:hover ul li:hover,
.oc-dropdown li.sfhover ul li.sfhover {
	background-color: #bbb;
}

/* Drop-down menu styles for the HEADER (see far below for structure) */

#topnav ul.oc-dropdown, .oc-dropdown ul {
	line-height: normal;
}

#topnav  .oc-dropdown li {
}

#topnav .oc-dropdown li ul {
	border-top: 1px solid #A5CC7A;
	background-color: #CCDEAF;
}

#topnav .oc-dropdown li ul li {
}
#topnav .oc-dropdown li ul li.oc-dropdown-divider {
	border-top: 1px dotted #A5CC7A;
}

#topnav .oc-dropdown li ul li a {
	color: #325B0A;
}

#topnav .oc-dropdown li ul li a:hover {
	color: #325B0A;
}

#topnav .oc-dropdown li:hover, .oc-dropdown li:hover ul,
#topnav .oc-dropdown li.sfhover, .oc-dropdown li.sfhover ul {
	background-color: #CCDEAF;
	color: #325B0A;
}

#topnav .oc-dropdown li:hover ul,
#topnav .oc-dropdown li.sfhover ul {
}

#topnav .oc-dropdown li:hover ul li:hover,
#topnav .oc-dropdown li.sfhover ul li.sfhover {
	background-color: #AAC683;
}

	
/* @CONTENT - This section defines the main content 
---------------------------------------------------*/

#content-title {
	position: relative;
	margin: 1.5em 0 0.75em;
}
			
#content-title-pagetitle {
	position: absolute;
	bottom: 0;
	display: block;
	width: 60%;
	line-height: normal;
	letter-spacing: normal;
	font-weight: normal;
}

#content-title-pagetitle a {
  text-decoration: none;
  color: black;
}
				
#content-main {
	float: left;
	width: 65%;
	margin-bottom: 2em;
}
#content-main p {
	/* min-width: 26em;
	max-width: 39em;
	margin-top: 0;
	margin-bottom: .5em; */
	}

#content-main ol, #content-main ul, #content-main dl {
	line-height: 1.25;
	}
		
		
#content-main dl {
	min-width: 20em;
	max-width: 33em;
	margin: 1em;
	padding: 0 2em;
	font-size: 100%;
	line-height: 1.25;
	margin-bottom: -0.125em;
}
#content-main dt { 
	float: left; 
	clear: left; 
	width: 8em; 
	text-align: right; 
	font-weight: bold;
}
#content-main dt:after {
	content: ":";
}
#content-main dd { 
	margin: 0 0 0 9.5em; 
	padding: 0 0 0.65em 0;
}

/* Sidebar */
#content-rbar33 {
	float: right;
    width: 33%;
    margin-bottom: 2em;
	padding: 0;
    line-height: 1.35;
}

/* @FOOTER - Global footer
--------------------------------------- */
#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
#footer li {
  display: inline;
  padding: 0 0.5em;
}

/* LAYOUT for @OpenPlans Pages
-------------------------------------------- */
/* This is where general layout elements within the content of a page are defined. Could also aply to how we implement templates. 
	
/* Member profile pages */

#oc-member-info {
}

	#oc-member-info .oc-tabs,
	#oc-member-info .contentViews {
		margin-bottom: 0;
	}
	
		#oc-member-info .oc-tabs .contentview-view a,
		#oc-member-info .contentViews .contentview-view a {
			background-color: #eee;
			border-bottom: 2px solid #eee;
		}

	#oc-member-details-wrapper {
		background-color: #eee;
		padding: 1em;
	}
	
		#oc-member-portrait {
			/* These images should be constrained to a max-width of ~200px */
			max-width: 47%;
			display: block;
			float: left;
		}
		
			img#oc-member-noportrait-edit {}
		
			img#oc-member-noportrait {}
	
		#oc-member-details {
			display: block;
			font-size: 100%;
			line-height: 1.25;
			float: left;
			clear: none;
			margin: 0 1em;
		}
		
		#oc-member-fullname-none {
			color: #ccc;
		}
	
			#oc-member-details dt {
				font-weight: bold;
			}
		
			dl#oc-member-details dd {
				margin: 0; 
				padding: 0 0 0.5em 0;
			}
			
			ul#oc-member-details-projects {
				display: inline;
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			#oc-member-details-projects-none {
				color: #ccc;
			}

			
				ul#oc-member-details-projects li {
				}
				
	#oc-member-dates {
		color: gray;
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline;
		text-align: right;
	}
	
#oc-member-wiki {
	margin: 1em 0;
}
	
#oc-member-activity table{
	width: 100%;
}

	/* The table styles here need to be cleaned up, a lot. */
	
	#oc-member-activity table,
	#oc-member-activity table * {
		border: none;
		padding-left: 0;
		margin-left: 0;
	}

	#oc-member-activity table th{
		text-align: left;
		text-transform: none;
		font-weight: bold;
		background-color: transparent;
	}


/* OpenPlans -- @Projects Page
   These classes apply to the "Projects Portal" page. 
------------------------------------------------------------*/



/* "@Custom" CSS : clearAfter Hack, op-dropdown Dropdowns
-------------------------------------------- */

/* This hack replicates the CSS3 "clearAfter" property.
The IE hacks take advantage of several IE non-compliance issues to clearAfter the floated columns. */

.clearAfter:after,
#topnav-global:after,
#content-container:after 
{ 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both;
	visibility: hidden;
}

.last-child {
	/* Use this class as a selector for last-children (not currently in use) */
}

/* This is based on the "Son of op-dropdown" drop down menus */

ul.oc-dropdown, .oc-dropdown ul {
float: left;
margin: 0;
padding: 0;
list-style: none;
z-index: 5;
}

	.oc-dropdown li {
		float: left;
		display: block;
		margin: 0;
		padding: 0.75em;
	}

		.oc-dropdown li ul {
			position: absolute;
			left: -999em;
		}
	
			.oc-dropdown li ul li {
				float: none;
				width: 12em;
				padding: 0 0.75em;
			}
				.oc-dropdown li ul li.oc-dropdown-divider {
				}
			
			.oc-dropdown li ul li a {
				display: block;
				width: 100%;
				padding: 0.75em 0;
			}
	
		.oc-dropdown li:hover, .oc-dropdown li:hover ul,
		.oc-dropdown li.sfhover, .oc-dropdown li.sfhover ul {
		}

		.oc-dropdown li:hover ul,
		.oc-dropdown li.sfhover ul {
			left: auto;
			margin: 0.75em 0 0 -0.75em;
		}

			.oc-dropdown li:hover ul li:hover,
			.oc-dropdown li.sfhover ul li.sfhover {
			}

			
/* GENERAL CLASSES & @FORMS & @WIDGETS - reusable thingys
-------------------------------------------*/
.hidden {
 	display:none;
}
.hover {
 	background: #fdffdd;
}

/* Actions */
.chooseThis { /* Default option */
	font-weight: bold;
}
.actions .chooseAccept,
.actions a.chooseAccept {
	color: #0c0;
}
.actions .chooseReject,
.actions a.chooseReject {
	color: #c00;
}
.actions .chooseSpam,
.actions a.chooseSpam {
	color: #999;
}

/* Widget heading blocks */
.widget-invitations .headingBlock,
.widget-tableData .headingBlock {
 	margin-bottom: .5em;
}
.widget-invitations .headingBlock h2,
.widget-tableData .headingBlock h2 {
	font-size: 1.167em; /* h3 size */
}
.widget-invitations .headingContext,
.widget-tableData .headingContext {
}

/* List table */
.widget-tableData table {
 	width: 100%;
}
.widget-tableData thead {
 	background: #eee;
}
.widget-tableData th, 
.widget-tableData th.sortableColumn, 
.widget-tableData th.columnActions {
	text-align: left;
	padding: .3em .2em;
	font-size: .833em;
	border-bottom: 2px solid #ccc;
}
.widget-tableData td {
	padding: .3em .2em;
	border-bottom: 1px solid #ccc;
	font-size: .833em;
}
.widget-tableData .actions {
 	padding: .5em 0;
 	margin:0;
}
.widget-tableData .actions li {
 	display: inline;
}
.widget-tableData .actions input {
	font-size: .9em;
	display: inline;
	padding: .25em .5em;
}

/* Feeds */
.widget-feed {
	list-style: none;
	padding: 0;
}
li.feed-item {
	margin: 1em 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #eee;

}
li.feed-item .avatar {
	float: left;
	margin-right: 0.5em;
}
li.feed-item .item-content {
 	margin: 0;
}
li.feed-item .item-content p {
	margin: 0;
}
li.feed-item .item-title {
	font-weight: bold;
}
li.feed-item .item-data {
}
li.feed-item .item-description {
}

/* Invitations Widget */
.widget-invitations {
}
.invitations-list {
 	margin: 0;
 	padding: 0;
 	font-size: .833em;
}
li.invitation {
	clear: both;
	list-style:none;
	margin: 0 0 0.5em;
	padding: 1em;
	background-color: #eee;
	border: 1px solid #ccc;
}
li.invitation .avatar {
	float: left;
}
li.invitation .invitation-content {
	float: left;
 	clear: none;
 	margin: 0;
}
li.invitation .actions {
	float: right;
}
li.invitation .actions li {
 	display: inline;
}

/* Alphabet search */

ul.widget-alphabet {
	list-style: none;
	padding: 0.5em;
	white-space: nowrap;
	background-color: #eee;
	border:1px solid #ccc;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.833em;
}
.widget-alphabet li {
	display: inline;
	margin: 0 0.125em;
}
.widget-alphabet li a {
	text-decoration: none;
}

/* @HTML ELEMENTS GENERAL @TYPOGRAPHY
This should be the only place where font information is specified
-------------------------------------------- */

body, textarea {
	font-size: 12px; /* ~12px */
	line-height: 1.5em; /* 18px % 12px = 1.5em */
	font-family: "Lucida Grande", "Frutiger", "Univers", "Helvetica Neue", Arial, Helvetica, sans-serif;
	/* These typographic rules will establish rhythm of 18px at base font size */
}

/* #content-container p {
	margin: 0 0 1.5em 0;
} */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	letter-spacing: 0;
}
		
h1 acronym, h1 abbr, h2 acronym, h2 abbr, h3 acronym, h3 abbr, h4 acronym, h4 abbr {
	border: none;
}

h1, .h1, biggestText {
	font-size: 2em; /* 24px % 12px = 2em */
	line-height: 0.75em; /* 18px % 24px = 0.75em */
	margin-top: 1.5em; /* 36px % 24px = 1.5em */
	margin-bottom: 0.75em; /* 18px % 24px = 0.75em */
}

h2, .h2, .biggerText, #topnav-title h1 {
	font-size: 1.5em; /* 18px % 12px = 1.5em */
	line-height: 1em; /* 18px % 18px = 1em */
	margin: 1em 0;   
}

h3, .h3, .bigText  {
	font-size: 1.1667em; /* 14px % 12px = 1.1667em */
	line-height: 1.286em; /* 18px % 14px = 1.286em */
	margin-top: 1.929em; /* 27px % 14px = 1.929em */
	margin-bottom: 0.643em; /* 9px % 14px = 0.643em */
}

h4, .h4 {
	font-weight: bold;
}

.smallText,
.discreetText,
	/* Layout and Navigation */
		.documentByLine,
		#topnav .oc-dropdown,
		#topnav-openplans-search,
		#footer,
    	#content-title-pagetitle,
	
	/*Feeds and Forms */
		ul.oc-tabs,
	
	/* Error Messages */
		.portalMessage,
		.portalWarningMessage,
		.portalStopMessage,
		.system-message,
		#error-handling
	
	{
	font-size: 0.8333em; /* 10px % 12px = 0.8333em */
	line-height: 1.8em /* 18px % 10px = .9em */
}

.discreetText {
	color: #999;
}

/* Heading Blocks */
.headingBlock {

}
.headingBlock h1,
.headingBlock h2,
.headingBlock h3,
.headingBlock h4 {
	margin: 0;
}
.headingBlock h1 { 
	font-size: 1.5em;
}
.headingBlock .headingContext {
	margin: 0 0 1.5em;
}
.headingSimple a {
	text-decoration: none;
}
.headingSimple a:hover {
	text-decoration: underline;
}
a {
	color: #86B0E1;
}	
a:hover {
	color: #777777;
}
img {
 	border: none;
}
.clearAfter hr {
 visibility: hidden;
 clear: both;
 height: 0;
 padding: 0;
 margin: 0;
}
	

