/* 
Title: NUI for OpenCore
Date: April 2007
Author: Rolando Penate & Nick Grossman
Version: 1ish

@Contents: (@ symbol to make searching easy)
 - Global Layout
 - Header
 - Content
 - Footer
 - Layout for OpenPlans pages
 - OpenPlans Project Page
 - "Custom" CSS - little tricks & snazzy stuff
 - General Classes
 - HTML Elements & General Typography

*/

/* @Global Layout
-----------------------------------------*/
html {
}
body {
  margin: 0;
  padding: 0 8px;
  background: url(http://www.digg.com/img/page-back.gif) repeat-x;
  color: #333333;
}
#oc-page-container {
  max-width: 70em; /* As a rule, measure should be between two and three alphabets long. In other words, between 52 and 78 characters, including spaces. Since characters average out to about one-half EM in width this translates to a minimum width of 26em and a maximum of 39em, or two to three alphabets.   IN OTHER WORDS: avoid changing the width. */
  min-width: 52em;
  margin: 0 auto;
  padding: 0;
}
#oc-topnav {
  text-align: left;
  margin-bottom: 0.5em;
}
#oc-content-container {
  margin: 0;
  padding: 1em;
}
#oc-content-main {
  float: left;
  clear: none;
  width: 65%;
  margin-bottom: 2em;
}
#oc-content-main.oc-content-main-fullWidth {
  width: 100%;
}
#oc-content-sidebar {
  float: right;
  clear: none;
  width: 33%;
  margin-bottom: 2em;
  padding: 0;
  line-height: 1.35;
}
#oc-project-tabs {

}
#oc-project-content {

}
#oc-footer {
  clear: both;
  margin: 3em 0 0 0;
  padding: .5em 1em;
}

/* @Header - Global, context & subcontext menus 
---------------------------------------*/

#oc-topnav .oc-dropdown{
}

#oc-topnav-global {
/*
  padding: 0.25em;
  padding-left: 1em;
*/
  position: relative;
}
    
#oc-topnav-title {
  position: absolute;
  top: 55px;
  left: 10px;
  width: 100%;
}
  
#oc-topnav-title h1 {
  position: absolute;
  bottom: 0.5em;
  float: left;
  margin: 0;
  margin-right: 0.5em;
  padding: 0;
}        
  
#oc-topnav-openplans {
  float: right;
  display: block;
  padding: 0.25em;
}
  
/*#topnav-openplans-logo,*/
#oc-topnav-openplans-wrapper,
#oc-topnav-openplans-search {
  display: inline;
}
    
#oc-topnav-openplans-logo {
  position: absolute;
  margin: 0;
  top: 2px;
  right: 4px;
}

#oc-topnav-openplans-logo img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#oc-topnav-openplans-links {
  padding-top: 3px;
  padding-right: 3px;
}

#oc-topnav-openplans-links li {
  margin: 0;
  padding-left: 0.75em;
  text-transform: none; 
  list-style-type: none;
  display: inline;
  font-size: 75%;
}
      
#oc-topnav-openplans-search {
  margin: 0;
  padding: 0;
}
        
#oc-portal-searchbox,
#oc-portal-searchbox form,
div.LSBox {
  margin: 0.125em 0;
  float: left;
  clear: none;
  display: inline;
  position: relative;
}
          
input#oc-searchGadget {
  width: 7em;
  font-size: 100%;
  background: white url(searchglass.png) no-repeat 2px center;
  padding-left: 15px;
}

div.oc-LSBox input.oc-searchButton {
  display: none;
}

div#oc-LSResult {
  z-index: 5;
  position: absolute;
  right: 0;
}

div#oc-LSResult legend {
  display: none;
}
  
div#oc-LSResult ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}
    
#oc-topnav-openplans-wrapper {
  margin: 0 0.5em;
}
            
#oc-topnav-subcontext {
  padding: 0 1em;
}
  
#oc-topnav-subcontext-title, #oc-topnav-subcontext-title h1 {
  margin: 0;
  padding: 0;
  line-height: normal;
}


/*Drop-down menu styles GLOBAL (see far below for structure)
---------------------------------------*/

/*

ul.oc-dropdown, .oc-dropdown ul {
  cursor: pointer;
  font-weight: bold;
}

.oc-dropdown li {
  text-transform: lowercase;
}

.oc-dropdown li ul {
  border-top: 1px solid #999;
  font-weight: normal;

}
  
.oc-dropdown li ul li {
  width: 12em;
}
.oc-dropdown li ul li.oc-dropdown-divider {
  border-top: 1px dotted #999;
}
      
.oc-dropdown li ul li a {
}
  

.oc-dropdown li:hover, .oc-dropdown li:hover ul,
.oc-dropdown li.sfhover, .oc-dropdown li.sfhover ul {
  background-color: #666;
}

.oc-dropdown li:hover ul,
.oc-dropdown li.sfhover ul {
}

.oc-dropdown li:hover ul li:hover,
.oc-dropdown li.sfhover ul li.sfhover {
  background-color: #bbb;
}

*/

/* Drop-down menu styles for the HEADER (see far below for structure) */

/*

#oc-topnav ul.oc-dropdown, .oc-dropdown ul {
  line-height: normal;
}

#oc-topnav  .oc-dropdown li {
}

#oc-topnav .oc-dropdown li ul {
  border-top: 1px solid #A5CC7A;
  background-color: #CCDEAF;
}

#oc-topnav .oc-dropdown li ul li {
}
#oc-topnav .oc-dropdown li ul li.oc-dropdown-divider {
  border-top: 1px dotted #A5CC7A;
}

#oc-topnav .oc-dropdown li ul li a {
  color: #325B0A;
}

#oc-topnav .oc-dropdown li ul li a:hover {
  color: #325B0A;
}

#oc-topnav .oc-dropdown li:hover, .oc-dropdown li:hover ul,
#oc-topnav .oc-dropdown li.sfhover, .oc-dropdown li.sfhover ul {
  background-color: #CCDEAF;
  color: #325B0A;
}

#oc-topnav .oc-dropdown li:hover ul,
#oc-topnav .oc-dropdown li.sfhover ul {
}

#oc-topnav .oc-dropdown li:hover ul li:hover,
#oc-topnav .oc-dropdown li.sfhover ul li.sfhover {
  background-color: #AAC683;
}

*/
  
/* @CONTENT - This section defines the main content 
---------------------------------------------------*/

/* Holdovers from the Typography Study
#oc-content-title {
  position: relative;
  margin: 1.5em 0 0.75em;
}
      
#oc-content-title-pagetitle {
  position: absolute;
  bottom: 0;
  display: block;
  width: 60%;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
}

#oc-content-title-pagetitle a {
  text-decoration: none;
  color: black;
} */
    
/* Rollie's nifty Definition Lists
#oc-content-main dl {
  min-width: 20em;
  max-width: 33em;
  margin: 1em;
  padding: 0 2em;
  font-size: 100%;
  line-height: 1.25;
  margin-bottom: -0.125em;
}
#oc-content-main dt { 
  float: left; 
  clear: left; 
  width: 8em; 
  text-align: right; 
  font-weight: bold;
}
#oc-content-main dt:after {
  content: ":";
}
#oc-content-main dd { 
  margin: 0 0 0 9.5em; 
  padding: 0 0 0.65em 0;
} */

/* Sidebar */


/* @FOOTER - Global footer
--------------------------------------- */
#oc-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
#oc-footer li {
  display: inline;
  padding: 0 0.5em;
}

/* LAYOUT for @OpenPlans Pages
-------------------------------------------- */
/* This is where general layout elements within the content of a page are defined. Could also aply to how we implement templates. 
  
/* GENERIC layout elements */

.oc-plainList { /* list with no formatting */
	list-style-type: none;
	padding: 0;
}
.oc-boxy {
	padding: 1em;
	background-color: #eee;
	border: 1px solid #ccc;
	margin-bottom: 1em;
}
.oc-column-group {
  width: 100%;
}
.oc-column-left {
  float: left;
  clear: none;
  width: 49%;
}
.oc-column-right {
  float: right;
  clear: none;
  width: 49%;
}
.oc-image-bright { /* newspaper term for an image used to emphasize a block of text */
  margin: 0 0.5em 0.5em 0;
  float: left;
}

/* GENERIC search results & lineups */

.oc-lineup, /* series of similar items */
.oc-searchresults {
}
.oc-lineup-list,
.oc-searchresults-list {
  list-style-type: none;
  margin:  0;
  padding: 0;
  clear: both;
  border-top: 2px solid #eee;

}
.oc-lineup-item,
.oc-searchresults-item {
  margin: 0.25em 0;
  padding-bottom: 0.25em;
  border-bottom: 1px dotted #eee;
}
.oc-lineup-item h3,
.oc-searchresults-item h3 {
  display: inline;
  font-size: 12px;
}
.oc-lineup-item p,
.oc-searchresults-item p {
  margin: 0;
}
.oc-lineup-item-sorter,
.oc-searchresults-nresults {
  /* float: left; */
  font-size: 10px;
}
.oc-lineup-item-sorter form,
.oc-lineup-item-sorter input,
.oc-searchresults-nresults form,
.oc-searchresults-nresults form input {
  display: inline;
  font-size: 100%;
}
.oc-lineup .oc-paginator,
.oc-searchresults .oc-paginator,
.oc-peopleresults .oc-paginator {
  float: right;
  clear: none;
  font-size: 10px;
}

/* People search results (people-searchresults.pt) */

.oc-peopleresults {
}
.oc-peopleresults-list {
  clear: both;
  list-style-type: none;
  padding: 0;
}
.oc-peopleresults-list li {
  margin-bottom: 0.5em;
  width: 49%;
  float: left;
  clear: none;
  white-space: nowrap;
}
.oc-peopleresults-list .oc-avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  background: #eee;
  float: left;
  clear: none;
  margin-right: 1em;
}
.oc-peopleresults-content {
  float: left;
  clear: none;
  width: 60%;
  white-space: normal;
}
.oc-peopleresults-username {
  margin: 0;
}
.oc-peopleresults-fullname {
  margin: 0;
}
.oc-peopleresults-location {
  font-style: normal;
}

/* Member profile */

#oc-member-badge {
  padding: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
}
#oc-member-badge .oc-avatar {
  width: 200px;
  overflow: hidden;
  float: left; 
  clear: none; 
}
#oc-member-badge .oc-avatar img {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
#oc-member-badge .oc-member-details {
  margin-left: 200px;
  padding-left: 1em;
}
#oc-member-badge .oc-member-details .oc-headingBlock p {
  margin: 0;
  line-height: normal;
}
dl.oc-member-info {
  line-height: normal;
}
dl.oc-member-info dt {
  font-weight: bold;
}
dl.oc-member-info dd {
  margin: 0 0 1em;
}

/* Member profile edit */

.oc-member-editimage {
	float: left;
	width: 200px;
	margin-right: 1em;
}
.oc-member-edit textarea {
	width: 100%;
}

/* Wiki pages */

.oc-wiki {
}
.oc-wiki-content {
}
.oc-wiki-content ol,
.oc-wiki-content ul,
.oc-wiki-content dl {
  line-height: 1.25;
}
.oc-wiki-edit-content {

}
.oc-actions.oc-wiki-actions {
  border-top: 2px solid;
  padding-top: .5em;
}

/* History */
.oc-wiki-history-item-context {
  padding: 0 0 0 2.5em;
  margin: 0;
}
.oc-wiki-history-item {
  margin: .25em 0;
  border: 1px solid #fff;
}
.oc-wiki-history-item.oc-selected {
  background: lightgreen;
  border: 1px solid green;
}

/* Home page */

.oc-getstarted {
  display: block; 
  width: 80%; 
  margin-bottom: 1em;
}
.oc-getstarted select {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.oc-getstarted input {
  font-size: 100%;
  /* display: none; */
}

/* "@Custom" CSS : clearAfter Hack, op-dropdown Dropdowns
-------------------------------------------- */

/* This hack replicates the CSS3 "clearAfter" property.
The IE hacks take advantage of several IE non-compliance issues to clearAfter the floated columns. */

.oc-clearAfter:after,
#oc-topnav-global:after,
#oc-page-container:after
{ 
  content: ""; 
  display: block; 
  height: 0; 
  clear: both;
  visibility: hidden;
}
      
/* GENERIC CLASSES & FORMS & WIDGETS & BEHAVIORS oh my - reusable thingys
-------------------------------------------

GENERIC: Buttons
GENERIC: Elements

@FORM Stuff
  Expanders
  Actions

@WIDGETS
  headingBlock
  List table
  Last modified
  Feeds
  Invitations
  Search box
  Alphabet Search
  
@BEHAVIORS

*/

.oc-hidden {
   display:none;
}
.oc-hover {
   background: #fdffdd;
}
/* GENERIC: Buttons */
input.oc-button {
  display: inline;
  padding: .25em .5em;
  font-size: inherit;
}

/* GENERIC: Elements */
.oc-paginator {
  margin: 0;
  padding: 0;
}
.oc-paginator li {
  display: inline;
  padding: 0 .25em;
}
a.oc-close {
  position: absolute;
  top: 2px;
  right: 2px;
  color: red;
  display: block;
  padding: 2px;
  text-decoration: none;
  font-weight: bold;
}
a.oc-close:hover {
  background: red;
  color: white;
}

/* @FORM Stuff */
fieldset .oc-legend-heading {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
fieldset fieldset .oc-legend-heading {
  font-size: 14px;
}
fieldset fieldset fieldset .oc-legend-heading {
  font-size: 12px;
}
fieldset .oc-legend-label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
fieldset .oc-heading-context {
  margin: 0 0 .5em;
  padding: 0;
}


.oc-form {
}
.oc-form * {
  vertical-align: top;
}
.oc-form-label {
  text-align: right;
  width: 8em;
  line-height: normal;
}
.oc-form-radiolist {
  list-style-type: none;
  margin: 0 0 0 8em;
  padding: 0;
}
.oc-form-radiolist ul {
  list-style-type: none;
}
.oc-form-value {

}
.oc-form-help {

}
.oc-form-context {
  color: #666;
  font-style: italic;
}
.oc-form-validator {

}
.oc-form-fieldBlock {
  /* white-space: nowrap; */
}
.oc-form-fieldBlock label {
	font-weight: normal;
}
.oc-form-fieldBlock input.oc-input-typeCheck,
.oc-form-fieldBlock input.oc-input-typeRadio {
	margin-left: 0;
}
.oc-input-typeText { /* Since browser support for selecting by type is... limited */
}

.oc-input-typeRadio,
.oc-input-typeCheck {
font-size: 100%;
width: 1em;
height: 1em;
}

/* Expanders */
.oc-expander {
  margin: .25em 0;
}

.oc-expander-content {
  margin: .25em 0;
  padding: .5em;
  background: #eee;
  border: 1px solid #ccc;
}

/* Actions */
.oc-actions { 
  margin: 0;
  padding: 0;
  font-size: 11px;
}
.oc-actions li {
  margin: 0 .25em;
  display: inline;
}

.oc-chooseThis { /* Default option */
  font-weight: bold;
}
.oc-actions .oc-chooseAccept,
.oc-actions a.oc-chooseAccept {
  color: #0c0;
}
.oc-actions .oc-chooseReject,
.oc-actions a.oc-chooseReject {
  color: #c00;
}
.oc-actions .oc-chooseSpam,
.actions a.chooseSpam {
  color: #999;
}

/* @WIDGETS */
.oc-widget {
}

/* Widget heading blocks */
.oc-widget .oc-headingBlock {
   margin-bottom: .5em;
   clear: both;
}
.oc-widget .oc-headingBlock h2 {
  font-size: 14px;
}
.oc-widget .oc-headingContext {
}

/* List table */
.oc-table  {
   width: 100%;
   white-space: nowrap;
   font-size: 10px;
}
.oc-table thead {
   background: #eee;
}
.oc-table thead th, 
.oc-table thead th.oc-sortableColumn, 
.oc-table thead th.oc-columnActions {
  text-align: left;
  padding: .25em .5em;
  /* font-size: 10px; */
  border-bottom: 2px solid #ccc;
}
.oc-table td {
  padding: .25em .5em;
  border-bottom: 1px solid #ccc;
  /* font-size: 10px; */
} 
.oc-table-row-title {
   white-space: normal;
   font-size: 12px;
}
.oc-table-row-actions li {
  list-style: none;
}
.oc-table-actions {
  float: left;
   padding: .5em 0;
   margin:0;
   font-size: 10px;
}
.oc-table-actions li {
   
}
.oc-table-paginator {
  float: right;
  padding: .5em 0;
  font-size: 10px;
}

/* Last Modified Stuff */
.oc-widget-lastModified thead {
  display: none;
}
.oc-widget-lastModified td {
  border-bottom: none;
}

/* Feeds */

.oc-widget-feed h2{
  margin: 0;
}
.oc-feed-list {
  list-style: none;
  margin: 0.5em 0 0.5em;
  padding: 0;
  border-top: 1px dotted #eee;

}
li.oc-feed-item {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #eee;
}
li.oc-feed-item .oc-avatar {
  width: 80px;
  float: left;
  clear: none;
  margin-right: 1em;
}
li.oc-feed-item .oc-project-logo {
  width: 80px;
  float: left;
  clear: none;
  margin-right: 1em;
}
li.oc-feed-item .oc-feed-item-content {
  float: left;
  clear: none;
  width: 80%;
}
li.oc-feed-item .oc-feed-item-title,
li.oc-feed-item .oc-feed-item-data,
li.oc-feed-item .oc-feed-item-description {
  margin: 0;
}

/* Invitations Widget */
.oc-widget-invite {
}
.oc-invite-list {
  font-size: 10px;
   margin: 0;
   padding: 0;
}
li.oc-invite {
  clear: both;
  list-style:none;
  position: relative;
}
li.oc-invite .oc-avatar {
  float: left;
  margin-right: 1em;
}
li.oc-invite .oc-avatar img {
  width: 75px;
}
li.oc-invite .oc-invite-content {
  float: left;
   clear: none;
   margin: 0;
   width: 25em; /* TODO: find a way not to specify width */
}
.oc-invite-actions {
  float: right;
}
.oc-invite-actions li {
   display: inline;
}

/* Search box */

.oc-widget-search {
}
#oc-content-sidebar .oc-widget-search {
}
.oc-widget-search form input {
  font-size: 10px;
}
#oc-content-main .oc-widget-search form .oc-input-typeText {
  width: 80%;
}
#oc-content-sidebar .oc-widget-search form .oc-input-typeText {
  width: 65%;
}
.oc-widget-search h2 {
  margin: 0 0 0.5em;
}

/* Alphabet search */

.oc-widget-alphabet {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.oc-widget-search ul.oc-widget-alphabet {
  margin-top: 1em;
}
#oc-content-sidebar ul.oc-widget-alphabet {
  background: none;
}
.oc-widget-alphabet li {
  display: inline;
  margin: 0 0.125em;
}
.oc-widget-alphabet li a {
  text-decoration: none;
}
.oc-widget-alphabet li a:hover {
  background-color: #337f92;
  color: #eee;
}

/* @BEHAVIORS
--------------------------*/
.oc-liveEdit-value {
  border: 1px solid transparent;
  border-bottom: 1px dotted #256E81; 
}
.oc-liveEdit-value .oc-liveEdit-hover {
 border-bottom: 1px solid red;
}
.oc-liveEdit-form,
.oc-liveEdit-selected {

}
.oc-liveEdit-hover {
  background: #ffffcc;
  cursor: pointer;
}
.oc-liveEdit-editing,
.oc-table td.oc-liveEdit-editing {
  background-color: #cbeb9b;
  padding: 3px;
}

/* @HTML ELEMENTS GENERAL @TYPOGRAPHY
This should be the only place where font information is specified
-------------------------------------------- */

body, textarea {
  font-size: 12px;
  line-height: 1.5em;
  font-family: "Lucida Grande", "Frutiger", "Univers", "Helvetica Neue", Arial, Helvetica, sans-serif;
  /* These typographic rules will establish rhythm of 18px at base font size */
}

/* #content-container p {
  margin: 0 0 1.5em 0;
} */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: 0;
}
    
h4 {
  margin: 0 0 .5em;
}
h1 acronym, h1 abbr, h2 acronym, h2 abbr, h3 acronym, h3 abbr, h4 acronym, h4 abbr {
  border: none;
}

h1, .oc-biggestText {
  font-size: 24px;
  line-height: 0.75em;
  /* margin-top: 1.5em; */
  /* margin-bottom: 0.75em; */
  margin: 0 0 1em;
}

h2, .oc-biggerText, #oc-topnav-title h1 {
  font-size: 18px;
  line-height: 1em;
  /* margin: 1em 0; */
  margin: 0 0 1em;

}

h3, .oc-bigText  {
  font-size: 14px;
  line-height: 1.286em;
  /* margin-top: 1.929em; */
  /* margin-bottom: 0.643em; */
  margin: 0 0 1em;
}

h4, .h4 {
  font-weight: bold;
}
select {
  border:1px solid #999;
  padding:1px;
  margin:0;
  font-size: 11px;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
label {
  font-weight: bold;
}
address {
  font-style: normal;
}

.oc-smallText,
.oc-discreetText,
  /* Layout and Navigation */
    .oc-documentByLine,
    #oc-topnav .oc-dropdown,
    #oc-topnav-openplans-search,
    #oc-footer,
      #oc-content-title-pagetitle,
  
  /*Feeds and Forms */
    ul.oc-tabs,
  
  /* Error Messages */
    .oc-portalMessage,
    .oc-portalWarningMessage,
    .oc-portalStopMessage,
    .oc-system-message,
    #oc-error-handling
  
  {
  font-size: 10px;
  line-height: 1.8em;
}
.oc-tabs a.oc-selected {
 /*  border-bottom: 2px solid #fff; */
} 
.oc-tabs form {
  display: inline;
}

.oc-discreetText {
  color: #999;
}

/* Heading Blocks */
.oc-headingBlock {

}
.oc-headingBlock h1,
.oc-headingBlock h2,
.oc-headingBlock h3,
.oc-headingBlock h4 {
  margin: 0;
  margin-bottom: 0.25em;
}

.oc-headingBlock .oc-headingContext {
  margin: 0 0 1.5em;
}
.oc-headingSimple a {
  text-decoration: none;
}
.oc-headingSimple a:hover {
  text-decoration: underline;
}
a {
  color: #337f92;
}  
a:hover {
  color: #777777;
}
img {
   border: none;
}
/* hr {
  clear: both;
} */
.oc-clearElement {
  visibility: hidden;
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}

/* MICROFORMATS
-------------------------------------------- */

/* @hCard
-----------
.vcard {} Identifies the hCard
.vcard .fn {} Formatted name: this is necessary and can only be used once; we use it for usernames
.vcard .n {} Name: this is optional and can be inferred from .fn; we use it for real names
.vcard .adr {} Address: this is optional and describes location; we use it for location
*/
