/* 
 OpenPlans Default Theme
 One of many to come?

 */
	
#oc-page-container,
#visual-portal-wrapper {
	background-color: white;
}
	
#oc-topnav {
	background-color: #AAC683;
	color: white;
}
	
#oc-topnav a {
	color: white;
	text-decoration: none;
}
	
#oc-topnav a:hover {
}
		
#oc-topnav-global {
	background: #2B7284 url(http://www.openplans.org/opp_bar_bg.gif) repeat-x scroll center top;
	border-bottom: 2px solid white;
	height: 40px;
}
	
#oc-topnav-openplans {
	background: transparent;
}

#oc-topnav-openplans-search #oc-LSResult {
	background-color: #2B7284;
}
			
#oc-topnav-title h1 {
	text-transform: none;
}
		
#oc-content-container {
}
		
#oc-footer {
    background-color: #eee;
	color: #aaa;
}

#oc-footer a {
  color: gray;
	text-decoration: none;
}

#oc-footer a:hover {
	color: #555;
}
		
oc-.missingText {
	color: gray;
}

body, textarea {
	font-size: 12px; /* ~12px */
	line-height: 1.5em; /* 18px √É¬∑ 12px = 1.5em */
	font-family: "Lucida Grande", "Frutiger", "Univers", "Helvetica Neue", Arial, Helvetica, sans-serif;
	/* These typographic rules will establish rhythm of 18px at base font size */
}

#oc-content * p {
	margin: 0 0 1.5em 0;
}

/* HTML & TYPOGRAPHY */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	letter-spacing: 0;
}
		
h1 acronym, h1 abbr, h2 acronym, h2 abbr, h3 acronym, h3 abbr, h4 acronym, h4 abbr {
	border: none;
}

h1, .h1 {
	
}

h2, .h2, #oc-topnav-title h1 {
	
}

h3, .h3, h4, .h4  {
	
}

h4, .h4 {
	
}
	
.oc-smallText,
	/* Layout and Navigation */
		.oc-documentByLine,
		#oc-topnav .oc-dropdown,
		#oc-topnav-openplans-search,
		#oc-footer,
    	#oc-content-title-pagetitle,
	
	/*Feeds and Forms */
		.oc-field input,
		.oc-formHelp,
		.oc-feed_data,
		.oc-feed_desc,
		ul.oc-contentViews,
		ul.oc-oc-tabs,
	
	/* Error Messages */
		.oc-portalMessage,
		.oc-portalWarningMessage,
		.oc-portalStopMessage,
		.oc-system-message,
		#oc-error-handling
	
	{
	
}

.oc-documentFirstHeading,
.oc-simpleHeading {
	
}

.oc-simpleHeading a {
	
}

.oc-simpleHeading a:hover {
	
}

a {
	
}
	
a:hover {
	
}

